<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
    <ul>
    <% @user.errors.each do |attribute, message| %>
      <li><%= "#{attribute} : #{message}" %></li>
    <% end %>
    </ul>
  <% end %>

  <%= render 'fields', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
